<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redireciona URLs com barra no final (exceto pastas reais) -->
        <rule name="RemoveTrailingSlash" stopProcessing="true">
          <match url="(.*)/$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>

        <!-- Encaminha requisições para o index.php se o arquivo ou diretório não existir -->
        <rule name="RewriteToIndex" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>

      <!-- Variáveis de ambiente equivalentes aos headers Authorization e XSRF -->
      <outboundRules>
        <rule name="SetAuthorizationHeader" preCondition="AuthorizationExists">
          <match serverVariable="HTTP_AUTHORIZATION" pattern=".*" />
          <action type="Rewrite" value="{HTTP_AUTHORIZATION}" />
        </rule>
        <rule name="SetXSRFHeader" preCondition="XSRFExists">
          <match serverVariable="HTTP_X_XSRF_TOKEN" pattern=".*" />
          <action type="Rewrite" value="{HTTP_X_XSRF_TOKEN}" />
        </rule>

        <preConditions>
          <preCondition name="AuthorizationExists">
            <add input="{HTTP_AUTHORIZATION}" pattern=".+" />
          </preCondition>
          <preCondition name="XSRFExists">
            <add input="{HTTP_X_XSRF_TOKEN}" pattern=".+" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>

    <!-- Equivalente a "Options -MultiViews -Indexes" -->
    <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
