@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-primary: #F3450F;
    --color-secondary: #F9C10B;
}

/* Custom Sidebar Scrollbar */
.admin-sidebar-scroll {
    scrollbar-width: thin;
    scrollbar-color: #f3f4f6 transparent;
}

.admin-sidebar-scroll::-webkit-scrollbar {
    width: 6px;
}

.admin-sidebar-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.admin-sidebar-scroll::-webkit-scrollbar-thumb {
    background-color: #f3f4f6; /* Off-white */
    border-radius: 3px;
}
